@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');


body {
    font-family: 'Roboto', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(239,118,122,.8);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #EF767A;
}

.ocultar {
    /*opacity: 0;*/
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}

.main-color {
    color: #EF767A;
}

.completado-color {
    color: #49DCB1;
}

.main-bg-color {
    background-color: #EF767A !important;
}

.shadow {
    box-shadow: rgba(22,22,22,.5) 0 3px 3px;
}

.scroll {
    overflow: auto;
}

.bg-1 {
    background-color: #EF767A;
    height: 50vh;
}

.bg-1 {
    background-color: #EF767A;
    height: 50vh;
}

.lista-tareas {
    position: absolute;
    /*height: 90vh;*/
    width: 70%;
    top: 5vh;
    left: 15%;
    background-color: #ffffff;
    border-radius: 11px;
    box-shadow: rgba(22,22,22,.5) 0 3px 3px;
}

.lista-tareas-titulo > h3 {
    text-transform: uppercase;
    text-align: center;
}

.lista-tareas-contenido {
    height: 70vh;
}

.sin-tareas {
    width: 100%;
    height: 400px;
    background-image: url("../image/no-tarea.svg");
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.tarea-contenedor {
    display: grid;
    grid-template-areas: "titulo buton" "descripcion descripcion";
    grid-template-columns: 2fr 0.5fr;
}

.tarea-titulo {

}

.tarea-boton {
    text-align: right;
}
