* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #DCE0E5;
}

body {
    background-color: #DCE0E5;
    font-family: Verdana;
}

h2 {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    color: #222222;
}

.contenedor {
    width: 100%;
    height: 100vh;
    padding: 0 15px;
}

.contenedor > * {
    background-color: #6E9CC4;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}

.cabecera {
    background-color: #FFBA08;
    color: #222222;
    min-height: 60px;
    float: left;
}

.cabecera, .pie-pagina {
    width: inherit;
}

.seccion, .barra-tarea {
    width: 32%;
    min-height: 400px;
    float: left;
}

.barra-tarea {
    float: right;
}

.pie-pagina {
    min-height: 60px;
    float: left;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .seccion, .barra-tarea {
        width: 100%;
        min-height: 200px;
        float: left;
    }

    .barra-tarea {
        float: left;
        min-height: 100px;
    }

    .pie-pagina {
        display: none;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) { }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) { }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { }

